p {
  font-size: 20px;
}
li {
  text-decoration: underline;
}
p,li{
  font-weight: bold;
}
.small-text, li.last-child{
  font-weight: normal;
}
.red{
  color:red;
}
h1{
  color:green;
}
.red+p{
  text-decoration: underline;
}