@media screen and (max-width: 1280px) {
    .container {
      height: auto;
      align-items: center;
    }
    .recent-posts .container{
      height: 100%;
    }
    .recent-posts .container h4+div{
      flex-direction: column;
      gap: 16px;
      padding: 16px;
      align-items: center;
    }
    .recent-posts .container h4{
        text-align: center;
    }
   .main{
    margin-top: 429px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
   }
    .main .container{
      display: flex;
      flex-direction: column;
      gap: 16px;
    }
    .main > .title{
      text-align: center;
    }
    .main .container .card{
      width: 49%;
    }
}